@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Squada+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.squada {
  font-family: "Squada One", serif;
  font-weight: 400;
  font-style: normal;
}

* {
    scroll-behavior: smooth;
    scrollbar-color: #f4fc96 #f4fc96;
  }

body {
    background-color: #171720;
}
@layer components {
  .group-hover-styles {
    @apply group-hover:border-[#e1fac9] group-hover:shadow-md group-hover:shadow-[#e1fac9];
  }
}
.backdrop-blur-sm {
  -webkit-backdrop-filter: blur(8px); /* Safari, iOS */
  backdrop-filter: blur(8px); /* Standard for other browsers */
}
/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

