@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Squada+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.squada {
  font-family: "Squada One", serif;
  font-weight: 400;
  font-style: normal;
}

* {
    scroll-behavior: smooth;
  }

body {
    background-color: #171720;
}
.scrollbar-custom {
  
  scrollbar-color: #f4fc96 #f4fc96; /* Thumb color and track color */
}

.backdrop-blur-sm {
  -webkit-backdrop-filter: blur(8px); /* Safari, iOS */
  backdrop-filter: blur(8px); /* Standard for other browsers */
}